[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.2"
grpcio = "==1.33.2"
grpcio-tools = "==1.33.2"

[requires]
python_version = "3.8"
